{% extends 'myups/base.html'%}
{% block title %}Track Your Package{% endblock %}
{% block body %}

<div class="container-fluid" style="margin-top:200px;margin-right:100px;margin-left: 500px">
  <div>
      <div class="col-sm-12 col-md-6">
          <div class="panel panel-default">
              <div class="panel-body">
                  <h3 align="center">Enter Package Number Here!</h3>
                  {% if messages %}
                  {% for message in messages %}
                  <p{% if message.tags %} class="{{ message.tags }}" {% endif %} style="padding: 10px">{{ message }}</p>
                  {% endfor %}{% endif %}
                  {% comment %} <form class="form-horizontal" role="form" action="{% url 'track_pkg' %}" method="post" enctype="multipart/form-data"> {% endcomment %}
                      {% csrf_token %}
                      <div class="form-group">
                          <div class="col-sm-offset-3">
                              <input id="package_id" maxlength="30" name="package_id" type="text">
                          </div>
                      </div>
                    
                      <div class="form-group">
                          <div class="col-sm-offset-4 col-sm-8">
                              <button type="submit" class="btn btn-success">Track</button>
                          </div>
                      </div>
                  </form>
              </div>
              {% if user.is_authenticated == False %}
              <div class="panel-footer">
                  Don't have an account? <a href="{% url 'user_register'%}">Click here</a > to register.
              </div>
              {% endif %}
          </div>
      </div>
  </div>
</div>

{% endblock %}