
.container-fluid {
    margin-top: 50px; /* 调整上边距，减少距离 */
    width: 500px; /* 控制最大宽度 */
    margin-left: auto; /* 水平居中 */
    margin-right: auto; /* 水平居中 */
    padding: 20px;
}
.panel {
    background-color: #f8f8f8; /* 面板背景色 */
    border: 1px solid #ddd; /* 边框 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 阴影 */
}
.panel-body {
    padding: 20px;
}
.form-group {
    margin-top: 15px; /* 增加表单元素间的间距 */
}
.form-control {
    width: 100%; /* 输入框全宽 */
    padding: 10px; /* 填充 */
}
.btn-success {
    width: auto; /* 自动宽度 */
    padding: 10px 20px; /* 按钮内部填充 */
    margin-top: 10px; /* 上边距 */
}
.panel-footer {
    background-color: #fff; /* 背景色 */
    padding: 10px;
    text-align: center;
}
/* 基础样式 */
.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff; /* 默认白色字体 */
  text-align: center; /* 居中显示消息文本 */
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 轻微的阴影效果增加深度感 */
}

/* 成功消息 */
.success {
  background-color: #4CAF50; /* 鲜绿色背景表示成功 */
}

/* 错误消息 */
.error {
  background-color: #f44336; /* 深红色背景表示错误 */
}

/* 警告消息 */
.warning {
  background-color: #ff9800; /* 橙色背景表示警告 */
}

/* 信息消息 */
.info {
  background-color: #2196F3; /* 蓝色背景表示一般信息 */
}